.footer {
  width: 100%;
  background-color: $c302;
  padding: 70px 0;
  &-inner {
    &__faq {
      &--title {
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 37px;
      }
      &--link {
        @extend %send-btn;
        font-size: 25px;
        line-height: 26px;
        background: $default;
        color: #000;
        padding: 25px 10px;
        border-radius: 13px;
        &:hover {
          color: $default;
        }
      }
    }
    &__box {
      display: flex;
      justify-content: space-between;
    }
  }
  &-menu {
    &__list {
      gap: 18px;
      display: flex;
      flex-direction: column;
    }
    &__link {
      font-size: 20px;
      line-height: 22px;
      transition: all 0.3s ease;
      &:hover {
        color: #ff0001;
        transition: all 0.5s ease;
      }
    }
  }
  &-contact {
    &__list {
      gap: 18px;
      display: flex;
      flex-direction: column;
    }
    &__link {
      font-size: 20px;
      line-height: 22px;
      transition: all 0.3s ease;
      &:hover {
        color: #ff0001;
        transition: all 0.5s ease;
      }
    }
  }
}