.form {
  &-left__content {
    width: 630px;
  }

  &-info {
    position: relative;

    &__box {
      margin-top: 83px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-size: 45px;
        margin-bottom: 50px;
      }

      p {
        font-size: 20px;
        line-height: 20px;
      }
    }

    &__btn {
      margin-top: 50px;

      button {
        cursor: pointer;
        border: none;
        background: #121010;
        color: #fff;
        padding: 10px;
        border-radius: 15px;
        font-size: 35px;
        width: max-content;
        height: 73px;
        transition: all 0.3s ease;

        &:hover {
          background: #ff0001;
          transition: all 0.5s ease;
        }
      }
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  flex-direction: column;
  background: #bcbcbc;
  border-radius: 15px;
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50%;
  left: 35%;
  right: 0;
  transition: all 0.5s ease;
  input {
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 10px;
  }
  button {
    cursor: pointer;
    border: none;
    background: #121010;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    transition: all 0.3s ease;

    &:hover {
      background: #ff0001;
      transition: all 0.5s ease;
    }
  }
  span {
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 20px;
    color: #121010;
  }
}

#form {
  display: none;
}