.person {
  margin-top: 30px;
  &-box {
    display: flex;
    align-items: center;
    &__text {
      width: 65%;
      h2 {
        font-size: 45px;
        line-height: 46px;
        margin-bottom: 58px;
      }
    }
    &__description {
      background-color: $c200;
      font-size: 20px;
      line-height: 22px;
      padding: 15px 13px;
      border-radius: 15px;
      margin-bottom: 57px;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      li {
        display: flex;
        align-items: center;
        span {
          font-size: 40px;
          line-height: 42px;
          font-weight: 900;
          color: $c200;
          padding-right: 10px;
        }
        p {
          font-size: 20px;
          line-height: 22px;
        }
      }
    }
    &__image {
      position: relative;
      z-index: 99999;
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 48%;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 54.17%,
          #222939 78.06%
        );
      }
      &:before {
        position: absolute;
        content: "";
        top: 12%;
        left: 28%;
        background-image: url("/img/person-el.png");
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}