.practice {
  &-title {
    &__box {
      width: 59%;
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 50px;
    }
  }
  &-description {
    font-size: 20px;
    line-height: 22px;
  }
  &-btn__box {
    margin-top: 50px;
    @extend %send-btn;
  }
}