.stages {
  margin-top: 90px;
  &-title {
    font-size: 45px;
    line-height: 46px;
  }
  &-card {
    &__list {
      margin-top: 56px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      li:nth-child(1) {
        background-color: $c301;
        h2 {
          color: $c302;
        }
        p {
          color: $c302;
          opacity: 0.6;
        }
      }
      li:nth-child(4) {
        background-color: $c301;
        h2 {
          color: $c302;
        }
        p {
          color: $c302;
          opacity: 0.6;
        }
      }
    }
    &__item {
      justify-self: center;
      width: 100%;
      padding: 24px 60px;
      border-radius: 21px;
      text-align: center;
      background-color: #c98660;
      h2 {
        font-size: 20px;
        line-height: 22px;
        margin: 26px 0 15px;
      }
      p {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
}