<div class="delivering-cont">
<h2>
    Delivering Bespoke <span>
    Software Solutions
</span> for your Business
</h2>
    <ul>
        <li class="delivering-cont__item">
            <div class="delivering-cont__item--img  ">
                <img src="/app/img/svg/delivering-icon-1.svg" alt="delivering-icon-1">
            </div>
            <div class="delivering-cont__item--text">
                <h3>Developed</h3>
                <p>Anthill Worldwide is a leading Ukraine-based software development company that offers full-stack mobile, web, and </p>
            </div>
        </li>
        <li class="delivering-cont__item">
            <div class="delivering-cont__item--img  ">
                <img src="/app/img/svg/delivering-icon-2.svg" alt="delivering-icon-2">
            </div>
            <div class="delivering-cont__item--text">
                <h3>Experienced</h3>
                <p>Anthill Worldwide is a leading Ukraine-based software development company that offers full-stack mobile, web, and </p>
            </div>
        </li>
        <li class="delivering-cont__item">
            <div class="delivering-cont__item--img  ">
                <img src="/app/img/svg/delivering-icon-3.svg" alt="delivering-icon-3">
            </div>
            <div class="delivering-cont__item--text">
                <h3>Distinct</h3>
                <p>Anthill Worldwide is a leading Ukraine-based software development company that offers full-stack mobile, web, and </p>
            </div>
        </li>
    </ul>
    <div class="delivering-tech">
        <h2>
            Our <span>
            Tech stack
        </span>
        </h2>
        <div class="delivering-tech__design">
            <h3>Design</h3>
            <ul>

                <li>
                    <img src="img/svg/figma-icon.svg" alt="figma-icon">
                    <p>Figma</p>
                </li>
                <li>
                    <img src="img/svg/ps-icon.svg" alt="ps-icon">
                    <p>Photoshop</p>
                </li>
                <li>
                    <img src="img/svg/ai-icon.svg" alt="ai-icon">
                    <p>Illustrator</p>
                </li>
                <li>
                    <img src="img/svg/id-icon.svg" alt="id-icon">
                    <p>Indesign</p>
                </li>
                <li>
                    <img src="img/svg/xd-icon.svg" alt="xd-icon">
                    <p>XD</p>
                </li>
            </ul>
        </div>
        <div class="delivering-tech__front">
            <h3>Front-end</h3>
            <ul>

                <li>
                    <img src="img/svg/react-icon.svg" alt="react-icon">
                    <p>React</p>
                </li>
                <li>
                    <img src="img/svg/nuxt-icon.svg" alt="nuxt-icon">
                    <p>NUXT</p>
                </li>
                <li>
                    <img src="img/svg/angular-icon.svg" alt="angular-icon">
                    <p>Angular</p>
                </li>
                <li>
                    <img src="img/svg/vue-icon.svg" alt="vue-icon">
                    <p>Vue</p>
                </li>
                <li>
                    <img src="img/svg/webflow-icon.svg" alt="webflow-icon">
                    <p>webflow</p>
                </li>
            </ul>
        </div>
        <div class="delivering-tech__back">
            <h3>Back-end</h3>
            <ul>

                <li>
                    <img src="img/svg/node-icon.svg" alt="node-icon">
                    <p>Node</p>
                </li>
                <li>
                    <img src="img/svg/py-icon.svg" alt="py-icon">
                    <p>Python</p>
                </li>
                <li>
                    <img src="img/svg/rails-icon.svg" alt="rails-icon">
                    <p>Rails</p>
                </li>
                <li>
                    <img src="img/svg/django-icon.svg" alt="django-icon">
                    <p>DJango</p>
                </li>

            </ul>
        </div>
    </div>
</div>