<div class="headercont">
  <div class="headercont-info">
    <h1>
      Anthill Worldwide
      <span>is your next software ddewelopment partner</span>
    </h1>
    <p>
      Anthill Worldwide is a leading Ukraine-based software development company
      that offers full-stack mobile, web, and backend software solutions to
      entrepreneurs, major organizations and businesses.
    </p>
    <div class="headercont-info__link">
      <a href="#">Watch our cases</a>
      <button>Let's start</button>
    </div>
    <div class="headercont-info__awards">
      <ul>
        <li>
          <img src="img/header-icon-1.webp" alt="header-icon-1" />
        </li>
        <li>
          <img src="img/header-icon-2.webp" alt="header-icon-2" />
        </li>
        <li>
          <img src="img/header-icon-3.webp" alt="header-icon-3" />
        </li>
        <li>
          <img src="img/header-icon-4.webp" alt="header-icon-4" />
        </li>
        <li>
          <img src="img/header-icon-5.webp" alt="header-icon-5" />
        </li>
      </ul>
    </div>
  </div>
  <div class="headercont-slider">
    <div class="headercont-slider__cards">
      <div class="swiper-wrapper">
        <div class="headercont-slider__card swiper-slide">
          <img src="img/header-img.webp" alt="slider" />
          <div class="headercont-slider--commit">
            <ul>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
            </ul>
            <p>
              Your chance to get genuinely working and technologically advanced
              web development software and the best app design.😍
            </p>
            <strong> Luminita Gavriluta </strong>
          </div>
        </div>
        <div class="headercont-slider__card swiper-slide">
          <img src="img/header-img.webp" alt="slider" />
          <div class="headercont-slider--commit">
            <ul>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
            </ul>
            <p>
              Your chance to get genuinely working and technologically advanced
              web development software and the best app design.😍
            </p>
            <strong> Luminita Gavriluta </strong>
          </div>
        </div>
        <div class="headercont-slider__card swiper-slide">
          <img src="img/header-img.webp" alt="slider" />
          <div class="headercont-slider--commit">
            <ul>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
              <li>
                <img src="img/svg/star-icon.svg" alt="star-icon" />
              </li>
            </ul>
            <p>
              Your chance to get genuinely working and technologically advanced
              web development software and the best app design.😍
            </p>
            <strong> Luminita Gavriluta </strong>
          </div>
        </div>
      </div>
    </div>
    <div class="headercont-pagination">
      <button
        class="headercont-pagination__page headercont-pagination__page--active"
        data-slide="0"
      ></button>

      <button class="headercont-pagination__page" data-slide="1"></button>
    </div>
  </div>
</div>
